nav {
  display: flex;
  align-items: center;
  background-color: lightblue;
  justify-content: space-between;
  padding: 10px 20px;
}

.left-side {
  display: flex;
  align-items: center;
}

.logo-img {
  margin-right: 15px;
  cursor: pointer;
  height: 60px;
}

.logo-img img {
  height: 100%;
}

.title-container {
  display: flex;
  align-items: center;
}

.title {
  color: black;
  font-size: 28px;
  margin: auto;
}
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 4px 28px;
  font-weight: 600;
}

nav ul li a:hover {
  background-color: white;
}
